[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"bencode.py" = "*"
requests = "*"
bitstruct = "*"
tqdm = "*"

[dev-packages]
ruff = "*"
pre-commit = "*"

[requires]
python_version = "3.13"

[scripts]
test = "python -m unittest discover -s test/unit -v"